@import "./global/global.css";
@import "./utilitarios/tipografia.css";
@import "./utilitarios/cores.css";

@import "./bicicletas/bicicletas-lista.css";

@import "./global/header.css";

@import "./utilitarios/componentes.css";


@import "./home/introducao.css";
@import "./home/tecnologia.css";

.introducao-bg{
    background: #000000;
    color: #ffffff;
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    gap: 0px 40px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    max-width: 1200px;
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 80px;
}

.introducao h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
}

.introducao p{
    margin: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
}